scripts/logs/*
*.swp
*__pycache__
*.pyc
build/
dist/
event_type_induction.egg-info/
snippets.bk
results/checkpoints/
results/mmm-final-clustering/
results/full-model-stage-1/
results/full-model-stage-2/
out/
